html,
body {
  min-height: 100vh;
}

body {
  padding-top: 60px;
  font-family: 'Roboto';
  background: url(../images/noisy_grid_@2X.png) 0 0 repeat;
  background-size: 150px;
}

.container {
  // min-height: 100vh;
}

.navbar {
  background-color: aliceblue;
}
#hashWall,
#connectButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}
.button-container {
  position: relative;
  width: 300px;
  height: 200px;
}
