<!DOCTYPE html>
<html lang="en" ng-app="infflow">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>INFFLOW</title>
  <script src="./bower_components/oauth-js/dist/oauth.min.js"></script>
  <link rel="stylesheet" href="./assets/styles/normalize.min.css">
  <link rel="stylesheet" href="./assets/styles/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body ng-controller="MainController as main">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href ng-click="main.go()" class="navbar-brand">INFFLOW</a>
      </div>
      <form class="navbar-form navbar-right">
        <!-- <button ng-click="main.connectButton()" id="connectButton" class="btn btn-link"><span class="fa fa-twitter"></button>
        <button disabled id="hashWall" ng-click="main.go('hashwall')" class="btn btn-link">Hashwall</button> -->
        <button id="signOut" ng-hide="!main.signedIn" disabled ng-click="main.signOut()" id="signOut" class="btn btn-link"><span class="fa fa-twitter">&nbsp;Sign Out</button>
      </form>
    </div>
  </nav>
  <div ng-cloak>
    <div ng-view></div>
  </div>
  <script src="./assets/scripts/util.js"></script>
  <script src="./bower_components/jquery/dist/jquery.js"></script>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-route/angular-route.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
  <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="./bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="./modules/infflow/module.js"></script>
  <script src="./modules/infflow.api/module.js"></script>
  <script src="./modules/infflow.api/twitter.service.js"></script>
  <script src="./modules/infflow.api/ip.service.js"></script>
  <script src="./modules/infflow.widgets/module.js"></script>
  <script src="./modules/infflow.widgets/tweet.directive.js"></script>
  <script src="./modules/infflow.filters/module.js"></script>
  <script src="./modules/infflow.filters/filters.js"></script>
  <script src="./modules/infflow.config/module.js"></script>
  <script src="./modules/infflow/landing/landing.controller.js"></script>
  <script src="./modules/infflow/lost/lost.controller.js"></script>
  <script src="./modules/infflow/hashwall/hashwall.controller.js"></script>
  <script src="./core/app.js"></script>
</body>

</html>
